:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 70px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #032973;
  color: white;
  padding: 0;
}


img {
  margin-top: 5px;
  height: auto;
  width: auto;
  max-height: 66px;
  max-width: 250px;
}

.material-icons {
  color: white;
  margin-right: 1em;
  font-size: 2.3vh;
}



.fa-sign-out {
  text-align: center;
  font-size: 30px;
  margin-right: 0.5em;
}





/**** CONTENT ***/

.titleContent {
  width: 100%;
  text-align: center;
  font-size: 3vh;
}

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;

}

.example-sidenav {
  padding: 20px;

}


