<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    alt="dwin Logo"
    src="assets/dtwin.png"
  />
  <div class="spacer"></div>
  <i (click)="logout()"
     class="fa fa-sign-out">
  </i>
</div>

<div class="example-sidenav-content">
  <div class="titleContent">
    <p class = "title" >Tracking</p>
    <div class="carttrack"> <!-- scatter chart -->
      <canvas baseChart
              [datasets]="scatterChartData"
              [options]="scatterChartOptions"
              [chartType]="scatterChartType">
      </canvas>
      <button type="button" class="btn btn-outline-info  refresh" (click)="refreshPath()">Refresh path</button>
    </div>
  </div>
</div>










