
/*Toolbar*/


.spacer {
  flex: 1;
}

.toolbar {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #032973;
  color: white;
}
img {
  height: 50px;



}
.material-icons {
  color: white;
  margin-right: 1em;
  font-size: 2.3vh;
}


.fa-sign-out, .fa-home {
  color: white;
  text-align: center;
  font-size: 2.5vh;
  margin-right: 0.6em;
  margin-left: 0.6em;
}



.form-style-6{

  max-width: 500px;
  margin: 50px auto;
  padding: 16px;
  background: #F7F7F7;
  border-radius: 15px;
  text-align: right;



}


.form-style-6 h1{
  background: #508BBF;
  padding: 20px 0;
  font-size: 100%;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  margin: -16px -16px 16px -16px;
  border-radius: 5px;


}

.mat-form-field {
  width: 100%;

  margin-bottom: 2em;
}

.disable{
  background-color: #F7F7F7 !important;
}

.able{
  box-shadow: 0 0 5px #508BBF;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 2.5%;
  color: #555;

  border-radius: 10px;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
  box-shadow: 0 0 5px #508BBF;
  padding: 3%;
  border: 1px solid #508BBF;
}


.form-style-6 input[type="button"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 2%;
  background: #43D1AF;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bolder;
  border-radius: 7px;
  width: 20%;


}

.form-style-6 input[type="button"]:hover{
  background: #2EBC99;
}

.descrArea {
  min-height: 200px;
}
