<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    alt="dwin Logo"
    src="assets/dtwin.png"
    (click)="home()"
  />

  <i (click)="home()"
     class=""> Home
  </i>
  <div class="spacer"></div>
  <i class="fa fa-cog" (click)="openDialog()"></i>
  <i (click)="logout()"
     class="fa fa-sign-out">
  </i>
</div>



 <!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="AGV" [value]="nAgv"  [(ngModel)]= "nAgv">
  </mat-form-field>
  <button type="button" class="btn btn-outline-info btn-sm refresh" (click)="changeView()">Update</button> -->


<div [hidden]="showDetails" class="container">
  <div *ngFor="let i of id" class="carttrack">
    <button type="button" class="btn btn-outline-info btn-sm refresh" (click)="openDetail(i)">Details ID {{i}}</button>
    <canvas baseChart
            [datasets]="chartdinamic[i]"
            [options]="scatterChartOptions"
            [chartType]="scatterChartType">
    </canvas>
  </div>
</div>
<div [hidden]="!showDetails" class="example-sidenav-content">
  <div class="titleContent">
    <p class="title">Tracking</p>
    <div  class = "selectionID">
      <mat-form-field>
        <mat-label>Select ID</mat-label>
        <mat-select  (selectionChange)="openDetail($event.value)">
          <mat-option *ngFor="let i of id" [value]= i>
            {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="carttrack">
      <canvas baseChart
              [datasets]="chartdinamic[selectId]"
              [options]="scatterChartOptions"
              [chartType]="scatterChartType">
      </canvas>
    </div>
  </div>
</div>
