<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img

    alt="Icosaf Logo"
    src="assets/icosaf.jpg"
  />
  <i id="left_menu" class="material-icons" (click)="drawer.toggle()">
    dehaze
  </i>


  <div class="spacer"></div>
  <!--<button type="button" class="btn btn-warning" (click)="grafana()">Grafana</button>-->

  <div class="spacer"></div>

  <i class="material-icons" (click)="grafana()">
    show_chart
  </i>

  <i class="material-icons" matBadge="15" matBadgeColor="warn" [matMenuTriggerFor]="menu">
    notifications_active
  </i>

  <mat-menu #menu="matMenu">
    <button *ngFor="let n of notifications" mat-menu-item>
      <!--<mat-icon>dialpad</mat-icon>-->
      <span>{{n}} text text text</span>
    </button>
  </mat-menu>
  <i (click)="logout()"
     class="fa fa-sign-out"></i>


</div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-card tabindex="0" (click)="changeContent('AGV Omron + Cobot Omron con visione 2D (3D)')">AGV Omron + Cobot
      Omron con visione 2D (3D)
    </mat-card>
    <mat-card tabindex="0" (click)="changeContent('Cobot Omron con visione 2D (3D)')">Cobot Omron con visione 2D (3D)
    </mat-card>
    <mat-card tabindex="0" (click)="changeContent('AGV Comau')">AGV Comau
    </mat-card>
    <mat-card tabindex="0" (click)="changeContent('Cobot Kuka')">Cobot Kuka
    </mat-card>
    <mat-card tabindex="0" (click)="changeContent('Plc Gestione Linea')">Plc Gestione Linea
    </mat-card>
    <mat-card tabindex="0" (click)="changeContent('AGV Comau Prova')">AGV Comau Prova</mat-card>
    <mat-card tabindex="0" (click)="changeContent('AGV Comau Prova2')">AGV Comau Prova2</mat-card>
    <mat-card tabindex="0" (click)="changeContent('AGV Comau Prova3')">AGV Comau Prova3</mat-card>
  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="titleContent">
      <p>{{title}}</p>
    </div>
  </div>
</mat-drawer-container>







