/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/sandstone/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://unpkg.com/angular-notifier@2.0.0/styles.css");
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.scss');

html, body { height: 100%; width: 100%;
  font-size: 16px;
  font-size-adjust:0.5;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;    text-rendering:optimizelegibility; }
