<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    alt="Icosaf Logo"
    src="assets/icosaf.jpg"
  />
  <div class="spacer"></div>
  <div class="spacer"></div>
  <i (click)="logout()"
     class="fa fa-sign-out"></i>
</div>
<div id="wrapper">
  <button type="button" class="btn btn-outline-info btn-lg" (click)="gotoInsertData()">
    <img class = "iconbtn" src="https://img.icons8.com/material-outlined/96/000000/add-property.png"> INSERT DATA</button>
  <button type="button" class="btn btn-outline-info btn-lg" (click)="gotoVerifyAmpunt()">
    <img  class = "iconbtn" src="https://img.icons8.com/material-outlined/96/000000/inscription.png">
    <span>VERIFY AMOUNT </span></button>
</div>

