html {
  background-color: white !important;
}
.login-form {
  margin: 50px auto;
  text-align: center;
  display: flex;
}

.form {
  background: #fafafa;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
  z-index: 1;
  max-width: 360px;
  min-width: 300px ;
  width: 30%;
  margin: auto;
  text-align: center;
  position: relative;
}

.form-control, .btn {
  border-radius: 2px;
  background-color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn {
  font-weight: bold;
  background-color: #17a2b8;
  color: white;
  letter-spacing: 2px;
  padding: 16px;
}

.logo {
  margin-bottom: 1em;
}

.logoPIC {
  max-width: 16em;
}

.required {
  border-color: #ff472c;
  box-shadow: 0px 0px 2px 2px #ff472c;
}

/*Login error*/

.loginErr  {
  border-bottom: 5px solid #3976AC;
  border-top: 5px solid #3976AC;

}

.error {
  padding: 16px;
  msx-width: 300px;
  color: white;
  background-color: red;
}












